#varius-wp-api-settings {

}

#varius-wp-api-settings input[type="text"],
#varius-wp-api-settings textarea {
    width: 100%;
    max-width: 600px;
}

#varius-wp-api-settings .api-access-token {
    font-size: 70%;
}

#varius-wp-api-settings .success {
    color: #0a0;
}

#varius-wp-api-settings .danger {
    color: #a00;
}